<html>
  <body>
    <h1>About Page</h1>
    <p>
      Music is something that is loved all around the world, and has the ability
      to bring people from all different kinds of backgrounds together to create
      a sense of community. This is what we wanted to emphasize when making
      Feedback, that unity, to create an application that would connect people
      with their friends through music. The exposure of new music through
      Feedback can bring one closer to those they care about by bonding over
      their common music tastes, or can even encourage people to step out of
      their music comfort zones. The diversification of ones music taste can
      cause them to develop a more open minded view towards more than just
      music, which can even cause a person to become a better and more accepting
      person as they go throughout their life.
    </p>
    <h1>Our Team</h1>
    <div class="word-container">
      <span class="word">Joseph Reyes</span>
      <span class="word">Albert Luna</span>
      <span class="word">Christian Cruz</span>
      <span class="word">Steven Rentas</span>
      <span class="word">Hannah Ghuneim</span>
    </div>
    <a href="https://github.com/christianc521/feedback-dev">
      <img
        src="https://icon-library.com/images/github-icon-white/github-icon-white-5.jpg"
        width="200"
        height="200"
      />
      <h3>Check Out Our Github!</h3>
    </a>
  </body>
</html>
