.logo {
    width: 400px;
    height: 148px;
}

nav {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
nav a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 18%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
  }