<div class="container">
    <div class="search-component">
        <h1>Daily Challenge: Genre Bender</h1>
        <h4>Share a song from a genre you don't typically listen to, but you enjoy.</h4>
        <mat-form-field class="example-full-width">
            <input type="text" placeholder="Search for a song" matInput [matAutocomplete]="auto" [formControl]="searchCtrl">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="fetchSongDetails($event.option.value); searchCtrl.setValue('')">
              <mat-option *ngFor="let song of searchResults$ | async" [value]="song">
                {{ song.name }} by {{ song.artists[0].name }}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>  
        <button style="margin-left: 10px; padding: 10px;" (click)="addSongToList()">Add to list</button>
        

        <div *ngIf="artist && albumCover">
            <div class="track-container">
                <img [src]="albumCover" alt="Album Cover" class="album-cover" />
                <div class="track-info">
                    <p>{{songName}}</p>
                    <p>{{ artist }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="song-list">
        <h2>Song List</h2>
        <div *ngFor="let song of songs; trackBy: trackBySongTitle">
            <div class="track-container">
                <img [src]="song.albumCover" alt="Album Cover" class="album-cover" />
                <div class="track-info">
                    <p>{{song.songName}}</p>
                    <p>{{song.artist}}</p>
                </div>
            </div>
        </div>
    </div>
</div>